<!DOCTYPE html>
<!--This website template is created by : Akashpinder Singh, Jaspreet Singh, Rajandeep Singh and Jashanpreet Singh -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" />

  <body>
    <div id="container">
      <!--  The nav area for adding hyperlinks to other pages within the website -->
      <ul class="nav" >
        
      </ul>
      
      
      
      <!-- Home page Banner -->

      <header>
        
      </header>


      <!--  The main area to add the main content of the webpage -->
      <main>
        
      </main>

      <!-- Use the footer area to add footer content -->
      <footer>
        
      </footer>
    </div>
  </body>
</html>
